/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
$utilities: (
  "margin-bottom": false,
  "margin-end": false,
  "margin-left": false,
  "margin-right": false,
  "margin-start": false,
  "margin-top": false,
  "margin-x": false,
  "margin-y": false,
  "margin": false,
  "negative-margin-bottom": false,
  "negative-margin-end": false,
  "negative-margin-left": false,
  "negative-margin-right": false,
  "negative-margin-start": false,
  "negative-margin-top": false,
  "negative-margin-x": false,
  "negative-margin-y": false,
  "negative-margin": false,
  "padding-bottom": false,
  "padding-end": false,
  "padding-left": false,
  "padding-right": false,
  "padding-start": false,
  "padding-top": false,
  "padding-x": false,
  "padding-y": false,
  "padding": false,
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      auto: auto,
      screen: 100vh,
      0: 0,
      25: 25%,
      33: 33%,
      50: 50%,
      67: 67%,
      75: 75%,
      100: 100%
    )
  ),
),
$switch-thumb-height: 1.25em,
$switch-thumb-width: 1.25em,
$switch-track-width: 3em,
$switch-track-height: 1em,
$switch-thumb-offset: 0.125em,
$switch-label-margin-inline-start: 0.25em,
$label-font-size: 1em,
$input-font-size: 1em,
$field-font-size: 1em,
$table-font-size: 1em,
$card-text-font-size: 1em,
$card-title-font-size: 1.5em,
$card-subtitle-font-size: 1.25em,
$badge-font-size: 1.0em,
$badge-height: 1.5em,
$badge-border-radius: 1.0em,
$badge-padding: 0.5em,
$badge-min-width: 1.5em,
$borders: (
  0: 0,
  null: thin,
  thin: thin,
  sm: 1em,
  md: 2em,
  lg: 4em,
  xl: 8em,
),
)
